/**------------------------------------------------------------------
[Table of Contents]
* Organized from top to bottom
* Name of section / Search term

1. Offers styling / #Offers
------------------------------------------------------------------**/


/* #Offers
================================ */

.offer-width {
    width: 585px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.offer-row {
	border-bottom: 1px solid #ccc;
}

.offer-row:last-child {
	border-bottom: none;
}
