/**------------------------------------------------------------------
[Table of Contents]
* Organized from top to bottom
* Name of section / Search term

1. Offers panel / #Panel
2. Profile Picture / #Profile
3. First and last name / #Names
4. Offer Details / #Offers
5. Media Queries / #Media
------------------------------------------------------------------**/


/* #Panel
================================ */

.panel-container {
	margin-top: 15%;
}
.offer-row {
	border-bottom: 1px solid #ccc;
}

.offer-row:last-child {
	border-bottom: none;
}

.panel-body {
	padding: 0 15px;
}

.vertical-line {
	border-right: thick solid #ccc;
}


/* #Profile
================================ */

.profile-pic {
	padding-top: 6%;
}

/* #Names
================================ */
.names {
	padding-top: 2%;
	padding-bottom: 6%;
}

/* #Offers
================================ */
.offer-details {
	padding-top: 5%;
}

/* #Media
================================ */

/* Mobile devices (phones) */
@media (min-width: 320px) and (max-width: 500px) {
	.panel-container {
		margin-top: 5%;
		width: 95%;
	}
	.vertical-line {
		border-right: none;
	}
	.offer-details {
		padding-top: 0;
		padding-bottom: 6%;
	}
	.names {
		padding-bottom: 0;
	}
}
